@charset "ISO-8859-1";
/*hourly  css*/
#normal{
	
	border-bottom:groove;
}
/*vital css*/
.TD{
	width:25px;
	font-weight: thick;
}
#form1,#form3,#form4{
	margin-left:150px;

	text-align:center;
}
#form2{
	margin-left:140px;
	text-align:center;
}
input[type=text]{
	width:180px;
}
#cunit{
	width:180px;
}
#date1,#time1,#date2,#time2,#date3,#time3,#date4,#time4{
	font-weight:bold;
	width:100px;
}


#dot,#unit,#height1,#height2{
	width:20px;
}
.modal-header{
	background-color:#dedede;
	border-radius:10px;
	height:50px;
}

#cancel1,#cancel2,#cancel3,#cancel4{
	float:left;
	width:100px;
	background-color:#dedede;
	margin-right:500px;
	border:1px solid black;
	
}
#submit1,#submit2,#submit3,#submit4{
	float: right;
	width:100px;
	background-color:#dedede;
	border:1px solid black;
	}
